<img src="../../../assets/banner.png" class="center">
<br>
<p-card>
    <h2>- <u>Nombre del alumno:</u> Gonzalo Requeni</h2>
    <h2>- <u>Github:</u><a href="https://github.com/gonzalorqn/L4-TP-Final"> Link al repositorio</a></h2>
    <h2>- <u>Módulos utilizados:</u><a href="https://www.primefaces.org/primeng/"> PrimeNg</a>, <a href="https://firebase.google.com/?hl=es">Firebase</a>, <a href="https://www.primefaces.org/showcase/ui/misc/primeicons.xhtml">PrimeIcons</a>, <a href="https://www.primefaces.org/primeng/showcase/#/theming">Luna-blue Theme (PrimeNg)</a>, <a href="https://github.com/auth0/angular2-jwt">auth0/angular-jwt</a></h2>
    <h2>- <u>Descripción de la aplicación:</u> Trabajo práctico final de Laboratorio IV 'Clínica Buena Sonrisa'</h2>
</p-card>
<br>
<div class="ui-g ui-fluid">
    <div style="margin-left: auto; margin-right: auto;">
        <button pButton label="Home" routerLink="/" icon="pi pi-home" class="ui-g-12 ui-md-4 ui-button-info"></button>
    </div>
</div>