<img src="../../../assets/banner.png" class="center">
<br>
<br>
<br>
<p-card class="center-card">
    <img src="Card" src="../../../assets/card.jpg">
    <h2>La clínica Buena Sonrisa, especialista en salud dental, cuenta actualmente con siete consultorios (más otros tres que están en construcción), dos laboratorios (uno especializado en diagnóstico por imágenes, y otro en mecánica dental), y una sala de espera general.
        <br>
        Está abierta al público de lunes a viernes en el horario de 8:00 a 19:00, y los sábados en el horario de 8:00 a 14:00.</h2>
</p-card>
<br>
<div class="ui-g ui-fluid">
    <div style="margin-left: auto; margin-right: auto;">
        <button pButton label="Ir a la página" icon="pi pi-arrow-right" class="ui-g-12 ui-md-4 ui-button-info" (click)="entrar()"></button>
    </div>
</div>